// about.scss
.about {
	width: 100%;
	padding-top: 24px;
	color: rgb(45, 45, 45);
	font-family: 'Inter Tight', sans-serif;
	// background: red;

	.para-about {
		text-align: justify;
		width: 55%;
		margin: 20px auto 20px;
		// background: greenyellow;
		.paraIntro {
			margin-bottom: 18px;
			font-weight: 360;
			font-size: 1.4rem;
			line-height: 1.4;
			// letter-spacing: -0.8px;
		}

		.paraUnder {
			text-align: justify;

			font-weight: 120;
			font-size: 1rem;
			line-height: 1.6;

			p {
				margin-bottom: 0.6rem;
			}
		}
	}
}

@media (max-width: 1000px) {
	.about {
		padding-top: 18px;

		.para-about {
			width: 85%;

			.paraIntro {
				font-size: 1.2rem;
			}
			.paraUnder {
				font-size: 1rem;
			}
		}
	}
}
@media (max-width: 550px) {
	.about {
		.para-about {
			width: 86%;
			.paraIntro {
				font-size: 1.1rem;
			}
			.paraUnder {
				font-size: 0.9rem;
			}
		}
	}
}
