// about.scss
.about {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0.5rem 2rem;
	color: rgb(45, 45, 45);

	

	.mini-nav {
		display: flex;
		justify-content: center;
		gap: 1rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		

		a {
			text-decoration: none;
			color: #000;
			font-weight: 400;
            letter-spacing: 1px;
			font-size: 0.6rem;
		}
	}

	.para-about {
		.paraIntro {
			margin-bottom: 3.2rem;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 1.2;
            letter-spacing: -0.4px;
			
		}

		.paraUnder {
			display: flex;
			gap: 1.8rem;
			font-weight: 300;
			font-size: 1rem;
			line-height: 19px;

			.paraLeft,
			.paraRight {
				flex: 1;
				p {
					margin-bottom: 0.8rem;
                   
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.about .para-about .paraUnder {
		flex-direction: column;
	}
}
