// about.scss
.about {
	width: 100%;
	color: rgb(45, 45, 45);
	padding: 20px 0;
	margin: 44px 0 20px;
	// background: blue;
	::selection {
		color: #e1e1e1;
		background: #232323;
	}

	.para-about {
		text-align: justify;
		width: 850px;
		margin: 0 auto;
		font-weight: 200;
		font-size: 1rem;
		line-height: 1.6;

		p {
			margin-bottom: 0.6rem;
		}
	}

	@media (max-width: 1000px) {
		.para-about {
			width: 85%;
			font-size: 0.9rem;
		}
	}
}
