// footer.scss
footer {
	background: rgb(25, 25, 25);
	width: 100%;
	padding-top: 22px;
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 14px auto 15px;
		width: 75%;
		color: #d3d3d3;

		.contact-section,
		.social-section {
			display: flex;
			flex-direction: column;
			width: 340px;
			text-align: center;
			// background: red;
		}
		.contact-section {
			margin-bottom: 22px;
			p {
				font-size: 0.9rem;
				font-weight: 500;
				margin-bottom: 6px;
				letter-spacing: -0.2px;
			}
		}

		.social-section li {
			font-size: 0.7rem;
			font-weight: 200;
			margin-bottom: 13.5px;
			letter-spacing: 0.4px;
		}

		a {
			display: inline;
			&:hover {
				color: #ffffff;
			}
		}
	}

	.copy-right {
		padding: 18px;
		font-size: 0.6em;
		font-weight: 300;
		color: rgb(98, 98, 98);
		width: 100%;
		background: rgba(0, 0, 0, 0.12);
		text-align: center;
	}

	@media (max-width: 750px) {
		.footer-container {
			margin: 10px auto 15px;

			.contact-section {
				p {
					font-size: 0.8rem;
				}
			}
			.social-section li {
				font-size: 0.7rem;
			}
		}
	}
	@media (max-width: 525px) {
		.footer-container {
			margin: 10px auto 15px;

			.contact-section {
				p {
					font-size: 0.7rem;
				}
			}
			.social-section li {
				font-size: 0.6rem;
			}
		}
	}
}
