// footer.scss
footer {
	background: rgb(22, 22, 22);
	.footer-container {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		margin-bottom: 50px;
		color: #fff;

		.address-section,
		.contact-section,
		.social-section {
			display: flex;
			flex-direction: column;
			width: 30%;
		}

		.contact-section {
			text-align: center;
		}
		.social-section {
			text-align: right;
		}

		h2 {
			font-size: 0.6em;
			font-weight: 500;
			margin-bottom: 10px;
			color: rgb(99, 99, 99);
			// background: greenyellow;
		}

		p,
		li {
			font-size: 0.7em;
			font-weight: 600;
			margin-bottom: 5px;
			// background: rgb(255, 71, 71);
		}

		li {
			&:hover {
				color: #939393;
			}
		}
	}

	.copy-right {
		text-align: center;
		padding: 10px 0;
		font-size: 0.6em;
	}
}

@media (max-width: 768px) {
	footer {
		.footer-container {
			flex-direction: column;
			align-items: center;
			margin-bottom: 32px;

			.address-section,
			.contact-section,
			.social-section {
				width: 90%;
				text-align: center;
			}

			.address-section,
			.contact-section {
				margin-bottom: 20px;
			}
			.address-section {
				margin-top: 20px;
			}
		}
	}
}
