// global.scss
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	line-height: 1.6;
	overflow-x: hidden;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
video {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

button,
[role='button'],
a {
	cursor: pointer;
}

// Focus outlines for accessibility
:focus {
	outline: 2px solid blue; // or choose a color that suits your design
}

// Only show outlines for keyboard navigation (if :focus-visible is supported)
:focus:not(:focus-visible) {
	outline: none;
}
