// home.scss
:root {
	--vh: 1vh;
}

.home {
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;

	.title {
		position: absolute;
		width: 100%;
		height: 225px;
		bottom: 0;
		color: rgb(255, 255, 255);
		background: rgba(26, 26, 26, 0.54);
		padding: 28px 24px;
		text-transform: uppercase;
		letter-spacing: -4px;
		line-height: 0.76;

		h1 {
			font-weight: 455;
			font-size: 3.6rem;
			transform: scaleY(0.9);
		}
		h2 {
			font-weight: 600;
			font-size: 4rem;
		}
	}
}

@media (max-width: 950px) {
	.home {
		.title {
			text-align: center;
			height: 180px;
			padding: 34px 0 0;

			h1 {
				font-size: 2.6rem;
			}
			h2 {
				font-size: 2.8rem;
			}
		}
	}
}

@media (max-width: 650px) {
	.home {
		.title {
			padding: 28px 0 0;

			h1 {
				font-size: 2.2rem;
			}
			h2 {
				font-size: 2.4rem;
			}
		}
	}
}
