// home.scss
:root {
	--vh: 1vh;
}

.home {
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;

	.title {
		position: absolute;
		width: 100%;
		height: 200px;
		bottom: 0;
		color: rgb(255, 255, 255);
		// background: rgba(26, 26, 26, 0.54);
		padding: 28px 24px;
		text-transform: uppercase;
		letter-spacing: -3px;
		line-height: 0.9;

		h2 {
			font-weight: 450;
			font-size: 2.4rem;
			transform: scaleY(0.9);
		}
		h3 {
			font-weight: 600;
			font-size: 2.6rem;
		}
	}
}

@media (max-width: 1000px) {
	.home {
		.title {
			h2 {
				font-size: 2rem;
			}
			h3 {
				font-size: 2.2rem;
			}
		}
	}
}

@media (max-width: 650px) {
	.home {
		.title {
			height: 160px;
			padding: 8px 14px;

			h2 {
				font-size: 1.4rem;
			}
			h3 {
				font-size: 1.6rem;
			}
		}
	}
}
