// idIMG.scss
.idIMG {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 0 80px;
	width: 100%;
	.projects-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		width: 850px;
		max-width: 100%;

		.project-item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			overflow: hidden;
			width: 100%;
			max-height: 85vh;
		}

		.project-image {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}
	@media (max-width: 1000px) {
		.projects-gallery {
			width: 85%;
		}
	}
}
