// nav.scss

.navbar {
	position: absolute;
	right: 0;
	width: 100%;
	height: 60px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.375);

	.title {
		text-transform: uppercase;
		letter-spacing: -1px;
		line-height: 0.7;
		padding: 6px;
		border-radius: 4px;
		margin-left: 15px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		h1 {
			font-size: 22px;
			font-weight: 400;
			transform: scaleY(0.7);
			margin-left: 1px;
			color: rgb(212, 212, 212);
		}

		h2 {
			font-size: 24px;
			font-weight: 600;
			color: rgb(229, 229, 229);
		}
	}

	.hamburger {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 28px;
		width: 18px;
		height: 18px;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		div {
			width: 100%;
			height: 2px;
			border-radius: 3px;
			background-color: #c9c9c9;
			transition: all 0.3s ease-in-out;
		}
	}

	#toggle {
		display: none;
	}

	#toggle:checked + .hamburger .top-bun,
	#toggle:checked + .hamburger .bottom-bun {
		opacity: 0;
	}
	#toggle:checked ~ .nav-container {
		transform: translateY(0);
	}

	.nav-container {
		right: 0;
		position: absolute;
		width: 100%;
		height: 140px;
		background: rgb(18, 18, 18);
		transform: translateY(-100%);
		transition: transform 0.8s ease-in-out;
		display: flex;
		align-items: center;

		.nav-links {
			color: rgb(215, 215, 215);
			font-size: 1.6rem;
			font-weight: 600;
			letter-spacing: -3px;
			transform: scaleY(0.9);
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			margin-left: 20px;

			a {
				cursor: pointer;
				transition: color 0.3s ease-in-out;
				margin: 2.2px;
			}
			a:hover {
				color: #474747;
			}
		}
	}
}

@media (max-width: 768px) {
	.navbar {
		.title {
			h1 {
				font-size: 20px;
			}

			h2 {
				font-size: 22px;
			}
		}
		.nav-container {
			.nav-links {
				font-size: 1.5rem;
			}
		}
	}
}
@media (max-width: 550px) {
	.navbar {
		.title {
			h1 {
				font-size: 18px;
			}

			h2 {
				font-size: 20px;
			}
		}
		.nav-container {
			.nav-links {
				font-size: 1.3rem;
			}
		}
	}
}
