// nav.scss

.navbar {
	position: absolute;
	right: 0;
	width: 100%;
	height: 140px;
	z-index: 1;
	// background: rgba(25, 25, 25, 0.544);

	.title {
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		padding: 10px 12px;
		border-radius: 4px;
		position: absolute;
		top: 28px;
		left: 28px;
		line-height: 0.8;
		font-family: 'Teko', sans-serif;
		// background: rgb(38, 38, 38);

		h1 {
			font-size: 1.9rem;
			font-weight: 390;
			// transform: scaleY(0.95);
			letter-spacing: -1px;
			margin-left: 4px;
		}
		h2 {
			font-size: 2.8rem;
			font-weight: 600;
			letter-spacing: -2px;
		}
	}

	.hamburger {
		cursor: pointer;
		position: absolute;
		top: 28px;
		right: 30px;
		width: 24px;
		height: 16px;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// background: red;

		div {
			width: 100%;
			height: 2.8px;
			border-radius: 3px;
			background: rgb(255, 255, 255);
			transition: all 0.3s ease-in-out;
		}
	}

	#toggle {
		display: none;
	}

	#toggle:checked + .hamburger .meat,
	#toggle:checked + .hamburger .bottom-bun {
		opacity: 0;
	}
	#toggle:checked ~ .nav-container {
		transform: translateY(0);
	}

	.nav-container {
		right: 0;
		position: absolute;
		width: 300px;
		height: calc(var(--vh-custom, 1vh) * 100);
		padding-top: 95px;
		background: rgba(45, 45, 45, 0.321);
		transform: translateY(-100%);
		transition: transform 0.6s ease-in-out;

		.nav-links {
			color: rgb(255, 255, 255);
			font-size: 1.9rem;
			font-weight: 300;
			letter-spacing: -2px;
			transform: scaleY(0.9);
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			text-align: right;
			margin-right: 12px;
			// background: greenyellow;

			a {
				cursor: pointer;
				transition: color 0.3s ease-in-out;
				padding: 8px;
				margin-bottom: 6px;
				// background: red;
			}
			a:hover {
				color: #515151;
			}
		}
	}
}

@media (max-width: 768px) {
	.navbar {
		.title {
			top: 24px;
			left: 12px;
		}
		.hamburger {
			right: 24px;
		}
		.nav-container {
			width: 235px;
		}
	}
}
@media (max-width: 550px) {
	.navbar {
		.title {
			top: 22px;
			left: 8px;
			h1 {
				font-size: 1.6rem;
			}
			h2 {
				font-size: 2.4rem;
			}
		}
		.hamburger {
			right: 22px;
		}
		.nav-container {
			width: 100vw;
		}
	}
}
