// src/styles/projectIdHome.scss
.projectIdTopHome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;

	.title {
		position: absolute;
		bottom: 90px;
		left: 50%;
		transform: translate(-50%);
		padding: 4px;
		border-radius: 4px;
		background: rgba(226, 226, 226, 0.819);

		h2 {
			font-size: 40px;
			transform: scaleY(0.9);
			color: rgb(27, 27, 27);
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: -1px;
			line-height: 0.8;
		}
	}

	.arrow-down {
		cursor: pointer;
		background: rgba(41, 41, 41, 0.7);
		height: 32px;
		width: 32px;
		border-radius: 100%;
		position: absolute;
		bottom: 3vh;
		left: 50%;
		transform: translate(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		color: rgb(220, 220, 220);
		transition: background 0.4s ease-in-out;
		&:hover {
			background: rgba(41, 41, 41, 0.9);
		}
	}
}

@media (max-width: 768px) {
	.projectIdTopHome {
		.title {
			bottom: 75px;

			h2 {
				font-size: 24px;
			}
		}
		.arrow-down {
			height: 30px;
			width: 30px;
		}
	}
}
@media (max-width: 550px) {
	.projectIdTopHome {
		.title {
			bottom: 70px;

			h2 {
				font-size: 20px;
			}
		}
		.arrow-down {
			height: 25px;
			width: 25px;
		}
	}
}
