// projects.scss
.section-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 0 120px;
	padding-top: 40px;
	width: 100%;

	.projects-gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		width: 85%;

		.project-item {
			position: relative;
			overflow: hidden;
			border-radius: 6px;
			height: 375px;
			width: 100%;
			transition: transform 0.3s ease-in-out;
			cursor: pointer;
			text-transform: uppercase;

			&:hover {
				.project-image::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(23, 23, 23, 0.927);
				}

				figcaption {
					opacity: 1;
				}
			}
		}

		.project-image {
			height: 100%;
			width: 100%;
			transition: transform 0.3s ease-in-out;
			position: relative;
			background-size: cover;
			background-position: center;
		}

		figcaption {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgb(231, 231, 231);
			font-size: 1.4rem;
			font-weight: 600;
			letter-spacing: -1px;
			opacity: 0;
			text-align: center;
			transition: opacity 0.3s ease-in-out;
			pointer-events: none;
		}
	}

	@media (max-width: 1000px) {
		padding-top: 10px;

		.projects-gallery {
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;

			figcaption {
				font-size: 1.2rem;
			}

			width: 85%;

			.project-item {
				height: 300px;
			}
		}
	}

	@media (max-width: 550px) {
		.projects-gallery {
			grid-template-columns: 1fr;

			figcaption {
				font-size: 1rem;
			}

			.project-item {
				height: 175px;
			}
		}
	}
}
