// project.scss
.section-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 0 120px;
	padding-top: 50px;
	width: 100%;
	// background: greenyellow;

	h2 {
		font-size: 2.8rem;
		font-weight: 700;
		letter-spacing: -3px;
		transform: scaleY(0.9);
		color: rgb(50, 50, 50);
		text-align: center;
		margin-bottom: 36px;
	}

	.projects-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 28px;
		width: 55%;
		// background: green;
		.project-item {
			position: relative;
			overflow: hidden;
			border-radius: 6px;
			height: 400px;
			width: 100%;
			transition: transform 0.3s ease-in-out;
			cursor: pointer;

			&:hover {
				.project-image::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(28, 28, 28, 0.83);
				}

				figcaption {
					opacity: 1;
				}
			}
		}

		.project-image {
			height: 100%;
			width: 100%;
			transition: transform 0.3s ease-in-out;
			position: relative;
			background-size: cover;
			background-position: center;
		}

		figcaption {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgb(238, 238, 238);
			font-size: 1.2em;
			font-weight: 500;
			letter-spacing: -1px;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			pointer-events: none;
		}
	}
}

@media (max-width: 768px) {
	.section-projects {
		padding-top: 30px;

		.projects-gallery {
			width: 75%;
			gap: 12px;
		}

		h2 {
			font-size: 2.4rem;
			margin-bottom: 28px;
		}
	}
}
@media (max-width: 550px) {
	.section-projects {
		.projects-gallery {
			width: 75%;
		}

		h2 {
			font-size: 2.2rem;
		}
	}
}
